body{
	/*margin: auto;*/
	margin-bottom: 25px;
	margin-top: 10px;
	text-align: center;
}

p{
	font-size: 30px;
}

table{
	border-collapse: separate;
}

td{
	background-color: gray;
	margin-left: 15px;
	width: 90px;
	height: 90px;
	border: 3px solid black;
	border-radius: 50%;
}